@model IEnumerable<Scaffolding.Models.Customer>

@{
    ViewBag.Title = "";
}
<span style="display:inline-block; font-style:italic; font-size:8px; padding-left:0px">
    GitHub Location:<a href="https://github.com/kipj1/Scaffolding/tree/master/Scaffolding">https://github.com/kipj1/Scaffolding/tree/master/Scaffolding</a>
</span>
<br />

<p>
    @Html.ActionLink("Create Customer", "Create")
</p>
<ul data-role="listview" class="ui-listview" data-filter="true">
    @foreach (var item in Model)
    {
        <li>
            <span style="display:inline-block; min-width: 100px;">@Html.DisplayFor(model => item.CustomerName)</span> 
            @Html.ActionLink("Edit", "Edit", new { id = item.CustomerCode })
            @Html.ActionLink("Delete", "Delete", new { id = item.CustomerCode })
        </li>
    }
</ul>