@model IEnumerable<Scaffolding.Models.Customer>

@{
    ViewBag.Title = "Home Page";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<ul data-role="listview" class="ui-listview" data-filter="true">
    @foreach (var item in Model)
    {
        <li>
            <span style="display:inline-block; min-width: 100px;">@Html.DisplayFor(model => item.CustomerName)</span> 
            @Html.ActionLink("Edit", "Edit", new { id = item.CustomerCode })
                @Html.ActionLink("Delete", "Delete", new { id = item.CustomerCode })
        </li>
    }
</ul>